.home {
  color: red;
}

.phone-company-selected {
  background-color: #F78181;
}

.bold {
  font-weight: bold;
}

.color-names {
  text-transform: capitalize;
}

.form-invalid-messages {
  color: red;
}
